Alessandro De Cicco

In [196]:
#Inizialmente, importiamo le librerie Pandas e Numpy e carichiamo i datasets
import pandas as pd
import numpy as np
import json
import re
movies= pd.read_csv('C:/Users/Alessandro De Cicco/Desktop/DATA SCIENCE/FOUNDATION OF COMPUTER SCIENCE/tmdb_5000_movies.csv')
credits= pd.read_csv('C:/Users/Alessandro De Cicco/Desktop/DATA SCIENCE/FOUNDATION OF COMPUTER SCIENCE/tmdb_5000_credits.csv')

In [197]:
movies.rename(columns={'id':'movie_id'}, inplace=True) #modifica a posteriori perchè nella tabella credits c'è una colonna movie_id, che è uguale alla colonna id dela tabella movies.

In [198]:
# 1.For each movie, compute the number of cast members

In [199]:
#Definiamo una funzione che carichi in una variabile Y  i file json della variabile X e che ritorni la lunghezza di Y.
def CastMembers(X):
    Y = json.loads(X)
    return(len(Y))
#Applichiamo la funzione alla colonna 'cast' del database Credits, ed inseriamo i risultati nella nuova colonna 'Cast Members'.
credits['CastMembers'] = credits['cast'].apply(CastMembers)
credits[['movie_id','title','CastMembers']].head()

   movie_id                                     title  CastMembers
0     19995                                    Avatar           83
1       285  Pirates of the Caribbean: At World's End           34
2    206647                                   Spectre           83
3     49026                     The Dark Knight Rises          158
4     49529                               John Carter           27

In [200]:
# 3.How many movies do not have a homepage?

In [201]:
NoHomepage=movies.homepage.isnull().sum()
print('I film che non hanno una homepage sono',NoHomepage)

I film che non hanno una homepage sono 3091

In [202]:
# 3.For each year, how many movies do not have a homepage?

In [203]:
NoHomepageWithData=movies[(movies.release_date.notnull())&(movies.homepage.isnull())]
NoHomepageWithData=NoHomepageWithData.reset_index()
def estrazione(data):
    assert re.search('\d\d\d\d\-\d\d\-\d\d', data)
    return(data[0:4])
NoHomepageWithData['Anno'] = NoHomepageWithData.release_date.apply(estrazione)
print ('Film che non hanno una homepage raggruppati per anno:')
NoHomepageWithData.groupby('Anno').size()

Film che non hanno una homepage raggruppati per anno:

Anno
1916      1
1925      1
1927      1
1929      2
1930      1
1932      1
1933      2
1934      1
1935      1
1936      2
1937      1
1938      2
1939      2
1940      4
1941      1
1942      1
1944      2
1945      4
1946      3
1947      3
1948      3
1949      2
1950      1
1951      3
1952      4
1953      4
1954      4
1955      2
1956      3
1957      2
       ...
1987     29
1988     28
1989     28
1990     24
1991     29
1992     29
1993     44
1994     50
1995     64
1996     86
1997    102
1998    119
1999    145
2000    145
2001    159
2002    164
2003    131
2004    149
2005    149
2006    144
2007     92
2008     97
2009     85
2010     54
2011     43
2012     92
2013    127
2014    157
2015    110
2016     31
Length: 89, dtype: int64

In [204]:
# 4.Extract the domain of each homepage

In [205]:
ConHomepage = movies[movies.homepage.notnull()]
ConHomepage = ConHomepage.reset_index()
def domaine(hp):
    domains = []
    homepage = hp.split(" ")
    for i in range(len(homepage)):
        domains.append(homepage[i].split('/')[2].split('.')[-1])
    return str(domains)[1:-1].replace("\'", "")

ConHomepage["domains"]=ConHomepage["homepage"].apply(domaine)
ConHomepage[["title","homepage","domains"]]

,title,homepage,domains
0,Avatar,http://www.avatarmovie.com/,com
1,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,com
2,Spectre,http://www.sonypictures.com/movies/spectre/,com
3,The Dark Knight Rises,http://www.thedarkknightrises.com/,com
4,John Carter,http://movies.disney.com/john-carter,com
5,Spider-Man 3,http://www.sonypictures.com/movies/spider-man3/,com
6,Tangled,http://disney.go.com/disneypictures/tangled/,com
7,Avengers: Age of Ultron,http://marvel.com/movies/movie/193/avengers_ag...,com
8,Harry Potter and the Half-Blood Prince,http://harrypotter.warnerbros.com/harrypottera...,com
9,Batman v Superman: Dawn of Justice,http://www.batmanvsupermandawnofjustice.com/,com
10,Superman Returns,http://www.superman.com,com
11,Quantum of Solace,http://www.mgm.com/view/movie/234/Quantum-of-S...,com
12,Pirates of the Caribbean: Dead Man's Chest,http://disney.go.com/disneypictures/pirates/,com
13,The Lone Ranger,http://disney.go.com/the-lone-ranger/,com
14,Man of Steel,http://www.manofsteel.com/,com
15,The Avengers,http://marvel.com/avengers_movie/,com
16,Pirates of the Caribbean: On Stranger Tides,http://disney.go.com/pirates/index-on-stranger...,com
17,Men in Black 3,http://www.sonypictures.com/movies/meninblack3/,com
18,The Hobbit: The Battle of the Five Armies,http://www.thehobbit.com/,com
19,The Amazing Spider-Man,http://www.theamazingspiderman.com,com
20,Robin Hood,http://www.robinhoodthemovie.com/,com
21,The Hobbit: The Desolation of Smaug,http://www.thehobbit.com/,com
22,The Golden Compass,http://www.goldencompassmovie.com/index_german...,com
23,Titanic,http://www.titanicmovie.com,com
24,Captain America: Civil War,http://marvel.com/captainamericapremiere,com
25,Jurassic World,http://www.jurassicworld.com/,com
26,Skyfall,http://www.skyfall-movie.com,com
27,Spider-Man 2,http://www.sonypictures.com/movies/spider-man2/,com
28,Iron Man 3,http://marvel.com/ironman3,com
29,Alice in Wonderland,http://disney.go.com/wonderland/,com
...,...,...,...
1682,Children of Heaven,http://www.miramax.com/movie/children-of-heaven/,com
1683,Weekend,http://weekenderfilm.tumblr.com/,com
1684,Another Earth,http://www.anotherearth.com/,com
1685,Sweet Sweetback's Baadasssss Song,http://www.sonyclassics.com/badass/,com
1686,Once,http://www.foxsearchlight.com/once/,com
1687,Aroused,http://thearousedproject.com/,com
1688,Your Sister's Sister,http://www.yoursisterssister-themovie.com/,com
1689,A Dog's Breakfast,http://www.adogsbreakfastmovie.com/,com
1690,The Birth of a Nation,http://www.foxsearchlight.com/thebirthofanation/,com
1691,Facing the Giants,http://www.facingthegiants.com/,com
1692,The Gallows,http://thegallowsmovie.com/,com
1693,Indie Game: The Movie,http://www.indiegamethemovie.com,com
1694,Pi,http://www.pithemovie.com/,com
1695,Tiger Orange,http://www.tigerorangemovie.com/,com
1696,The Dirties,http://www.thedirtiesthemovie.com/,com
1697,Tiny Furniture,http://tinyfurniture.com/,com
1698,The Call of Cthulhu,http://www.cthulhulives.org/cocmovie/index.html,org
1699,Bending Steel,http://www.bendingsteelmovie.com/,com
1700,The Signal,https://www.facebook.com/thesignalfilm,com
1701,This Is Martin Bonner,http://www.montereymedia.com/theatrical/films/...,com
1702,Raymond Did It,https://www.facebook.com/pages/Raymond-Did-It/...,com
1703,The Last Waltz,http://www.mgm.com/#/our-titles/1092/The-Last-...,com
1704,Down Terrace,http://downterrace.blogspot.com/,com
1705,Clerks,http://www.miramax.com/movie/clerks/,com
1706,Dry Spell,https://www.facebook.com/DrySpellMovie,com
1707,The Puffy Chair,http://www.thepuffychairmovie.com,com
1708,Tin Can Man,http://tincanmanthemovie.com/,com
1709,Primer,http://www.primermovie.com,com
1710,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...,com
1711,Shanghai Calling,http://shanghaicalling.com/,com

In [206]:
# 5.Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value
# (not a list or a dictionary). There is no need to use SQL for this point.

In [207]:
def normalizza (movie_id, colonna, dataset):
    temp = dataset.set_index(movie_id)[colonna].apply(pd.read_json)
    def setta_chiave(indice):
        temp[indice][movie_id] = indice
        return temp
    dataset[movie_id].apply(setta_chiave)
    return pd.concat(temp.values.tolist())

In [208]:
movies_n = movies.drop(['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages'], axis = 1)
credits_n = credits.drop(['cast', 'crew'], axis = 1)
genres = normalizza('movie_id','genres', movies)
keywords = normalizza('movie_id', 'keywords', movies)
production_companies = normalizza('movie_id','production_companies', movies)
production_countries = normalizza('movie_id', 'production_countries', movies).rename(columns = {'iso_3166_1':'country_id'})
spoken_languages = normalizza('movie_id', 'spoken_languages', movies).rename(columns = {'iso_639_1':'language_id'})
crew = normalizza('movie_id','crew', credits)
cast = normalizza('movie_id','cast', credits)

C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys
C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys

In [226]:
cast.head()

,cast_id,character,credit_id,gender,id,movie_id,name,order
0.0,242.0,Jake Sully,5602a8a7c3a3685532001c9a,2.0,65731.0,19995,Sam Worthington,0.0
1.0,3.0,Neytiri,52fe48009251416c750ac9cb,1.0,8691.0,19995,Zoe Saldana,1.0
2.0,25.0,Dr. Grace Augustine,52fe48009251416c750aca39,1.0,10205.0,19995,Sigourney Weaver,2.0
3.0,4.0,Col. Quaritch,52fe48009251416c750ac9cf,2.0,32747.0,19995,Stephen Lang,3.0
4.0,5.0,Trudy Chacon,52fe48009251416c750ac9d3,1.0,17647.0,19995,Michelle Rodriguez,4.0

In [227]:
crew.head()

,credit_id,department,gender,id,job,movie_id,name
0.0,52fe48009251416c750aca23,Editing,0.0,1721.0,Editor,19995,Stephen E. Rivkin
1.0,539c47ecc3a36810e3001f87,Art,2.0,496.0,Production Design,19995,Rick Carter
2.0,54491c89c3a3680fb4001cf7,Sound,0.0,900.0,Sound Designer,19995,Christopher Boyes
3.0,54491cb70e0a267480001bd0,Sound,0.0,900.0,Supervising Sound Editor,19995,Christopher Boyes
4.0,539c4a4cc3a36810c9002101,Production,1.0,1262.0,Casting,19995,Mali Finn

In [228]:
# 6.For each movie, compute the gross margin (difference between revenue and budget)

In [229]:
Movies['gross_margin'] = Movies['revenue'] - Movies['budget']
Movies[['title','gross_margin']]

                                            title  gross_margin
0                                          Avatar    2550965087
1        Pirates of the Caribbean: At World's End     661000000
2                                         Spectre     635674609
3                           The Dark Knight Rises     834939099
4                                     John Carter      24139100
5                                    Spider-Man 3     632871626
6                                         Tangled     331794936
7                         Avengers: Age of Ultron    1125403694
8          Harry Potter and the Half-Blood Prince     683959197
9              Batman v Superman: Dawn of Justice     623260194
10                               Superman Returns     121081192
11                              Quantum of Solace     386090727
12     Pirates of the Caribbean: Dead Man's Chest     865659812
13                                The Lone Ranger    -165710090
14                                   Man of Steel     437845518
15       The Chronicles of Narnia: Prince Caspian     194651413
16                                   The Avengers    1299557910
17    Pirates of the Caribbean: On Stranger Tides     665713802
18                                 Men in Black 3     399026776
19      The Hobbit: The Battle of the Five Armies     706019788
20                         The Amazing Spider-Man     537215857
21                                     Robin Hood     110669540
22            The Hobbit: The Desolation of Smaug     708400000
23                             The Golden Compass     192234864
24                                      King Kong     343000000
25                                        Titanic    1645034188
26                     Captain America: Civil War     903304495
27                                     Battleship      94025485
28                                 Jurassic World    1363528810
29                                        Skyfall     908561013
...                                           ...           ...
4773                                       Clerks       3124130
4774                               Pink Narcissus        -27000
4775                                  Funny Ha Ha         76901
4776                        In the Company of Men             0
4777                                       Manito             0
4778                                      Rampage             0
4779                                      Slacker             0
4780                                  Dutch Kills             0
4781                                    Dry Spell        -22000
4782                                     Flywheel             0
4783                                     Backmask             0
4784                              The Puffy Chair             0
4785                         Stories of Our Lives             0
4786                             Breaking Upwards             0
4787                     All Superheroes Must Die             0
4788                               Pink Flamingos       5988000
4789                                        Clean             0
4790                                   The Circle             0
4791                                  Tin Can Man           -13
4792                                         Cure         79000
4793                               On The Downlow             0
4794                 Sanctuary: Quite a Conundrum             0
4795                                         Bang             0
4796                                       Primer        417760
4797                                       Cavite             0
4798                                  El Mariachi       1820920
4799                                    Newlyweds         -9000
4800                    Signed, Sealed, Delivered             0
4801                             Shanghai Calling             0
4802                            My Date with Drew             0

[4803 rows x 2 columns]

In [230]:
# 7.For each movie, compute the number of crew members

In [231]:
crew2 = crew[["id", "movie_id"]].drop_duplicates()
crew_count = pd.DataFrame(crew2.groupby("movie_id").size()).reset_index()
crew_count.columns = ["movie_id", "crew_count"]
crew_count = pd.merge(crew_count, movies, left_on="movie_id", right_on="movie_id")
crew_count[["title", "crew_count"]].head()

             title  crew_count
0       Four Rooms          78
1        Star Wars          18
2     Finding Nemo          99
3     Forrest Gump          92
4  American Beauty         107

In [232]:
# 8.For each movie, compute the number of directors

In [233]:
crew3 = crew[crew.job == "Director"]
directors_count = crew3.groupby("movie_id").size().reset_index()
directors_count.columns = ["movie_id", "directors_count"]
directors_count = pd.merge(directors_count, movies, left_on="movie_id", right_on="movie_id")
directors_count[["title", "directors_count"]].sort_values("directors_count", ascending=0).head()

                 title  directors_count
701   Paris, je t'aime               21
3918          Movie 43               12
336           Fantasia               12
3477     Fantasia 2000                8
798              Bambi                7

In [234]:
# 9.For each language, compute the number of movies where such language is spoken.

In [235]:
movies_lang= spoken_languages.groupby(by=['language_id'],as_index=False).size().to_frame().reset_index().rename(columns = {0:'n. movies spoken'})
movies_lang

   language_id  n. movies spoken
0           af                 7
1           am                 1
2           ar                67
3           bg                 3
4           bm                 1
5           bn                 1
6           bo                 4
7           br                 1
8           bs                 2
9           ca                 1
10          ce                 1
11          cn                48
12          co                 1
13          cs                38
14          cy                 2
15          da                14
16          de               262
17          dz                 1
18          el                20
19          en              4485
20          eo                 2
21          es               351
22          et                 2
23          fa                12
24          fi                 3
25          fr               437
26          ga                 6
27          gd                 6
28          gl                 1
29          he                33
..         ...               ...
57          ps                 2
58          pt                68
59          ro                13
60          ru               185
61          sa                 1
62          sh                 4
63          si                 1
64          sk                 2
65          sl                 1
66          so                 3
67          sq                 4
68          sr                 6
69          st                 1
70          sv                22
71          sw                 8
72          ta                 4
73          te                 1
74          th                40
75          tl                 1
76          to                 1
77          tr                18
78          uk                 9
79          ur                15
80          vi                17
81          wo                 1
82          xh                 4
83          xx                 2
84          yi                 8
85          zh               107
86          zu                 4

[87 rows x 2 columns]

In [236]:
# 10.For each company and each decade, compute the overall revenue

In [237]:
production_companies_name = production_companies[['id','name']].drop_duplicates()

In [238]:
movies["year"] = movies["release_date"].str.extract("(.*)-.*-.*",expand=True)

def isdecade(year):
    return str(year)[:3] + '0'
movies['decade'] = movies['year'].apply(isdecade)
companies_id = production_companies.merge(right=movies[['movie_id','revenue','decade']], on='movie_id')
companies_name = production_companies_name.merge(right=companies_id[['id','revenue','decade']], on='id')
tot_revenue=companies_name.groupby(by =['id','name','decade'], as_index=False).sum()
tot_revenue

           id                                      name decade      revenue
0         1.0                                 Lucasfilm   1970    915398007
1         1.0                                 Lucasfilm   1980   2430621397
2         1.0                                 Lucasfilm   1990    924317558
3         1.0                                 Lucasfilm   2000   2286034361
4         1.0                                 Lucasfilm   2010     50365377
5         2.0                      Walt Disney Pictures   1940     83320000
6         2.0                      Walt Disney Pictures   1990   3030921011
7         2.0                      Walt Disney Pictures   2000  11096721366
8         2.0                      Walt Disney Pictures   2010  14472293671
9         3.0                   Pixar Animation Studios   1990   1234179761
10        3.0                   Pixar Animation Studios   2000   4476710793
11        3.0                   Pixar Animation Studios   2010   4098902234
12        4.0                        Paramount Pictures   1920       650422
13        4.0                        Paramount Pictures   1930      2200025
14        4.0                        Paramount Pictures   1950     43000000
15        4.0                        Paramount Pictures   1960    134245712
16        4.0                        Paramount Pictures   1970    796329984
17        4.0                        Paramount Pictures   1980   4431144486
18        4.0                        Paramount Pictures   1990   8824732067
19        4.0                        Paramount Pictures   2000  11536104632
20        4.0                        Paramount Pictures   2010  15110115837
21        5.0                         Columbia Pictures   1930     17033101
22        5.0                         Columbia Pictures   1950      9600000
23        5.0                         Columbia Pictures   1970     31755742
24        5.0                         Columbia Pictures   1980    215572367
25        5.0                         Columbia Pictures   1990   2130030687
26        5.0                         Columbia Pictures   2000  12168859651
27        5.0                         Columbia Pictures   2010  14026783227
28        6.0                        RKO Radio Pictures   1930      3202000
29        6.0                        RKO Radio Pictures   1940     99344124
...       ...                                       ...    ...          ...
6126  90897.0                                   Act III   1980     52287414
6127  91005.0                            Lyrick Studios   1990            0
6128  91542.0                                Aver Media   2000            0
6129  91543.0                         North West Vision   2000            0
6130  91920.0                           Rovio Animation   2010    349779543
6131  91929.0                      Criminal Productions   2010     14708696
6132  92137.0                  Dead Fiancée Productions   2000            0
6133  93101.0                                Keshet Hot   2000            0
6134  93102.0                              Uchovsky Fox   2000            0
6135  93103.0                       Ronen Ben-Tal Films   2000            0
6136  93104.0                      Feingold Productions   2000            0
6137  93105.0                                 IAC Films   2010     11110975
6138  93156.0                                Baby Films   2000            0
6139  93177.0                      Watchmen Productions   2010            0
6140  93280.0                         Friday Four, Inc.   1980     32980880
6141  93380.0                Eleventh Street Production   1990      3011195
6142  93381.0                                 Jon Kilik   1990      3011195
6143  93408.0                         FortyFour Studios   2000    521311860
6144  93521.0                      Rye Road Productions   2000     16633035
6145  93522.0                 Babe Ruthless Productions   2000     16633035
6146  93528.0                 Casual Friday Productions   2000    110230332
6147  93542.0                            bob industries   2010     52501541
6148  93580.0  Wonder works studios entertainment group   2000     72700000
6149  94410.0                  Dracula Productions Inc.   2000            0
6150  94411.0                   Vonnie Von Helmolt Film   2000            0
6151  94551.0                      4Go West Productions   2010            0
6152  94552.0                         Flatiron Pictures   2010            0
6153  94714.0                   Vista Organisation, The   1980            0
6154  95018.0             MPH Entertainment Productions   2000    368744044
6155  95063.0                               Marcy Media   2010    133821816

[6156 rows x 4 columns]

In [239]:
# 11.For each decade, compute the company with maximum revenue.

In [240]:
best_revenue10= tot_revenue.groupby(by =['decade'])[["revenue"]].apply(max, axis = 0).reset_index()
best_revenue = best_revenue10["revenue"].values
decade = best_revenue10["decade"].values

for i in range(len(best_revenue10)):
    print(tot_revenue[tot_revenue["decade"]==decade[i]][tot_revenue["revenue"]==best_revenue[i]],"\n")

         id                       name decade  revenue
978  1307.0  Triangle Film Corporation   1910  8394751
979  1308.0       Wark Producing Corp.   1910  8394751

          id                       name decade   revenue
2694  8411.0  Metro-Goldwyn-Mayer (MGM)   1920  26358000

          id                             name decade    revenue
1044  1553.0  Selznick International Pictures   1930  400176459
2695  8411.0        Metro-Goldwyn-Mayer (MGM)   1930  400176459

          id                     name decade    revenue
1652  3166.0  Walt Disney Productions   1940  351747150

          id                       name decade   revenue
2697  8411.0  Metro-Goldwyn-Mayer (MGM)   1950  73770324

          id             name decade    revenue
2560  7576.0  Eon Productions   1960  598134765

       id            name decade     revenue
109  60.0  United Artists   1970  1392271577

     id                name decade     revenue
17  4.0  Paramount Pictures   1980  4431144486

     id                name decade     revenue
18  4.0  Paramount Pictures   1990  8824732067

          id          name decade      revenue
2253  6194.0  Warner Bros.   2000  22897419289

      id                name decade      revenue
75  33.0  Universal Pictures   2010  15521006459

C:\Users\Alessandro De Cicco\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [241]:
# 12.In each year, how many movies have revenue smaller than the budget?

In [242]:
Year_loss=movies[movies.budget > movies.revenue].groupby(by=("year")).size().reset_index().rename(columns = {0:"n. movies in loss"})
Year_loss

    year  n. movies in loss
0   1927                  1
1   1947                  1
2   1948                  1
3   1954                  1
4   1962                  1
5   1963                  1
6   1964                  2
7   1965                  3
8   1966                  1
9   1968                  2
10  1969                  1
11  1970                  4
12  1971                  1
13  1972                  1
14  1974                  1
15  1977                  4
16  1978                  1
17  1979                  2
18  1980                  5
19  1981                 11
20  1982                  1
21  1983                  5
22  1984                  9
23  1985                  9
24  1986                  9
25  1987                  3
26  1988                  4
27  1989                  6
28  1990                  4
29  1991                 10
30  1992                  9
31  1993                 15
32  1994                 15
33  1995                 19
34  1996                 32
35  1997                 33
36  1998                 39
37  1999                 55
38  2000                 53
39  2001                 56
40  2002                 71
41  2003                 47
42  2004                 61
43  2005                 55
44  2006                 63
45  2007                 55
46  2008                 64
47  2009                 78
48  2010                 65
49  2011                 70
50  2012                 52
51  2013                 62
52  2014                 59
53  2015                 67
54  2016                 26

                                                   END